@page "/games/create"
@inject Lab4_zad2.Data.ApplicationDbContext DB
@using Lab4_zad2.Components.Baza_danych
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Game.Title" class="form-control" /> 
                <ValidationMessage For="() => Game.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Game.Description" class="form-control" /> 
                <ValidationMessage For="() => Game.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="relasedate" class="form-label">RelaseDate:</label> 
                <InputDate id="relasedate" @bind-Value="Game.RelaseDate" class="form-control" /> 
                <ValidationMessage For="() => Game.RelaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Game.Rate" class="form-control" /> 
                <ValidationMessage For="() => Game.Rate" class="text-danger" /> 
            </div> 
             <div class="mb-3">
                <label for="url" class="form-label">url:</label> 
                <InputText id="url" @bind-Value="Game.url" class="form-control" /> 
                <ValidationMessage For="() => Game.url" class="text-danger" /> 
            </div> 
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Game Game { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddGame()
    {
        DB.Game.Add(Game);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
