@page "/Games/edit"
@inject Lab4_zad2.Data.ApplicationDbContext DB
@using Lab4_zad2.Components.Baza_danych
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Game</h4>
<hr />
@if (Game is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Game" OnValidSubmit="UpdateGame" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Game.Id" value="@Game.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Game.Title" class="form-control" />
                    <ValidationMessage For="() => Game.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Game.Description" class="form-control" />
                    <ValidationMessage For="() => Game.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="relasedate" class="form-label">RelaseDate:</label>
                    <InputDate id="relasedate" @bind-Value="Game.RelaseDate" class="form-control" />
                    <ValidationMessage For="() => Game.RelaseDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rate" class="form-label">Rate:</label>
                    <InputNumber id="rate" @bind-Value="Game.Rate" class="form-control" />
                    <ValidationMessage For="() => Game.Rate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">url:</label>
                    <InputText id="url" @bind-Value="Game.url" class="form-control" />
                    <ValidationMessage For="() => Game.url" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/games">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Game? Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Game ??= await DB.Game.FirstOrDefaultAsync(m => m.Id == Id);

        if (Game is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateGame()
    {
        DB.Attach(Game!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GameExists(Game!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/games");
    }

    bool GameExists(int id)
    {
        return DB.Game.Any(e => e.Id == id);
    }
}
